html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.slick-prev::before {
  content: "" !important;
  display: block;
  font-family: "" !important;
  background: url("../src/res/images/previous.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.slick-next::before {
  content: "" !important;
  display: block;
  font-family: "" !important;
  background: url("../src/res/images/next.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
